<!-- Lista de Clientes -->
<div class="total-container" id="total-container">
    <h2 class="container-title">Clientes Registrados</h2>
    <!-- Campo de Pesquisa -->
<div><input type="text" id="pesquisaClientes" placeholder="Pesquisar clientes..."></div>
<div class="card-container" id="clientes-container">
    <% clientes.forEach(function(cliente) { %>
        <div class="card cliente-card" id="cliente-<%= cliente.id %>">
            <h5 class="titulo"><%= cliente.nome_completo %></h5>
            <div class="conteudo">
                <p><strong>CPF:</strong> <%= cliente.cpf %></p>
                
                <!-- Formatação da data de nascimento -->
                <p><strong>Nascimento:</strong> 
                    <%= new Date(cliente.data_nascimento).toLocaleDateString('pt-BR', { year: '2-digit', month: '2-digit', day: '2-digit' }) %>
                </p>
                <p><strong>Endereço:</strong> <%= cliente.endereco %></p>
                <p><strong>Telefone Fixo:</strong> <%= cliente.telefone_fixo %></p>
                <p><strong>Celular:</strong> <%= cliente.celular %></p>
                <p><strong>E-mail:</strong> <%= cliente.email %></p>
            </div>
            <div class="card-buttons">
                <button class="editarCliente" 
                        data-id="<%= cliente.id %>" 
                        data-nome_completo="<%= cliente.nome_completo %>" 
                        data-cpf="<%= cliente.cpf %>" 
                        data-data_nascimento="<%= cliente.data_nascimento %>" 
                        data-endereco="<%= cliente.endereco %>" 
                        data-telefone_fixo="<%= cliente.telefone_fixo %>" 
                        data-celular="<%= cliente.celular %>" 
                        data-email="<%= cliente.email %>">Editar</button>
                <button class="excluirCliente" data-id="<%= cliente.id %>">Excluir</button>
            </div>
        </div>
    <% }); %>
</div>
</div>