 <!-- Campo de Pesquisa -->
 <div class="total-container" id="total-container">
    <h2 class="container-title">Serviços Registrados</h2> <!-- Título do container -->
<div><input type="text" id="pesquisaClientes" placeholder="Pesquisar clientes..." onkeyup="pesquisarClientes()"></div>
<div class="card-container" id="servicos-container">

<% servicos.forEach(function(servico) { %>
    <div class="card" id="servico-<%= servico.id %>">
        <h5><%= servico.nome %></h5>
        <p><strong>Duração:</strong> <br><%= servico.duracao %> minutos</p>
        <p><strong>Observações:</strong> <br><%= servico.observacao %></p>
        <button class="editarServico" data-id="<%= servico.id %>" data-nome="<%= servico.nome %>" data-duracao="<%= servico.duracao %>" data-observacao="<%= servico.observacao %>">Editar</button>
        <button class="excluirServico" data-id="<%= servico.id %>">Excluir</button>
    </div>
<% }); %>
</div>
</div>